<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <div class="djangotwo">
        {% if users %}
            <table>
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td>{{ u.first_name }}</td>
                        <td>{{ u.last_name }}</td>
                        <td>{{ u.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>NO ACCESS FOUND!</p>
            {% endif %}
    </div>

</body>
</html>